*{
margin: 0;
padding: 0; 
box-sizing: border-box;


}

.container{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(8,1fr);
    grid-gap: 8px;
    width: 500px;
    height: 600px;
    margin: 15px auto;




}