@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: var(--color-secundary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 95%;
    height: 97vh;
    display: grid;
    grid-template-areas: 
    "reloj reloj reloj reloj reloj reloj gps gps gps gps gps Depth Depth Depth Carbon Carbon Carbon Carbon Carbon Carbon"
    "reloj reloj reloj reloj reloj reloj gps gps gps gps gps Depth Depth Depth Carbon Carbon Carbon Carbon Carbon Carbon"
    "reloj reloj reloj reloj reloj reloj gps gps gps gps gps Depth Depth Depth Carbon Carbon Carbon Carbon Carbon Carbon"
    "reloj reloj reloj reloj reloj reloj gps gps gps gps gps Depth Depth Depth Carbon Carbon Carbon Carbon Carbon Carbon"
    "reloj reloj reloj reloj reloj reloj relojC relojC relojC relojC relojC relojC relojC relojC Carbon Carbon Carbon Carbon Carbon Carbon"
    "montaña montaña montaña modular modular modular relojC relojC relojC relojC relojC relojC relojC relojC Carbon Carbon Carbon Carbon Carbon Carbon"
    "montaña montaña montaña modular modular modular relojC relojC relojC relojC relojC relojC relojC relojC battery battery battery dive dive dive"
    "montaña montaña montaña modular modular modular relojC relojC relojC relojC relojC relojC relojC relojC battery battery battery dive dive dive"
    "new new new new new new relojC relojC relojC relojC relojC relojC relojC relojC Customizable Customizable Customizable Customizable Customizable Customizable"
    "new new new new new new relojC relojC relojC relojC relojC relojC relojC relojC Customizable Customizable Customizable Customizable Customizable Customizable"
    "procesador procesador procesador procesador Siri Siri cycling cycling Precision Precision Precision Precision flash flash gesture gesture gesture gesture gesture gesture"
    "procesador procesador procesador procesador Siri Siri cycling cycling Precision Precision Precision Precision flash flash gesture gesture gesture gesture gesture gesture"
    "procesador procesador procesador procesador Siri Siri cycling cycling Precision Precision Precision Precision flash flash gesture gesture gesture gesture gesture gesture"
    ;

    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(13, 1fr);
    grid-gap: 8px;
}
.container div{
    border-radius: 13px;
    background: var(--color-primary);
    object-fit: contain;
}

.container .item__1{
    grid-area: reloj;
    box-sizing: border-box;
}
.container .item__1 img{
    width: 100%;
    height: 36vh;
    object-fit: fill;
}

.container .item__2{
    grid-area: gps;
    box-sizing: border-box;
}
.container .item__2 img{
    width: 100%;
    height: 28.4vh;
    object-fit: fill;
}

.container .item__3{
    grid-area: Depth;
    box-sizing: border-box;
}
.container .item__3 img{
    width: 100%;
    height: 28vh;
    object-fit: contain;
}

.container .item__4{
    grid-area: Carbon;
    box-sizing: border-box;
}
.container .item__4 img{
    width: 100%;
    height: 43vh;
    object-fit: fill;
}

.container .item__5{
    grid-area: montaña;
    box-sizing: border-box;
}
.container .item__5 img{
    width: 100%;
    height: 21vh;
    object-fit:contain;
}

.container .item__6{
    grid-area: modular;
    box-sizing: border-box;
}
.container .item__6 img{
    width: 100%;
    height: 21vh;
    object-fit: contain;
}

.container .item__7{
    grid-area: relojC;
    box-sizing: border-box;
}
.container .item__7 img{
    width: 100%;
    height: 43.5vh;
    object-fit:contain;
}

.container .item__8{
    grid-area: battery;
    box-sizing: border-box;
}
.container .item__8 img{
    width: 100%;
    height: 13.2vh;
    object-fit: contain;
}

.container .item__9{
    grid-area: dive;
    box-sizing: border-box;
}
.container .item__9 img{
    width: 100%;
    height: 13.2vh;
    object-fit: contain;
}

.container .item__10{
    grid-area: new;
    box-sizing: border-box;
}
.container .item__10 img{
    width: 100%;
    height: 13.2vh;
    object-fit: contain;
}

.container .item__11{
    grid-area: Customizable;
    box-sizing: border-box;
}
.container .item__11 img{
    width: 100%;
    height: 13.2vh;
    object-fit: contain;
}

.container .item__12{
    grid-area: procesador;
    box-sizing: border-box;
}
.container .item__12 img{
    width: 100%;
    height: 20.7vh;
    object-fit: contain;
}

.container .item__13{
    grid-area: Siri;
    box-sizing: border-box;
}
.container .item__13 img{
    width: 100%;
    height: 20.7vh;
    object-fit: contain;
}

.container .item__14{
    grid-area: cycling;
    box-sizing: border-box;
}
.container .item__14 img{
    width: 100%;
    height: 20.7vh;
    object-fit: contain;
}

.container .item__15{
    grid-area: Precision;
    box-sizing: border-box;
}
.container .item__15 img{
    width: 100%;
    height: 20.7vh;
    object-fit: contain;
}

.container .item__16{
    grid-area: flash;
    box-sizing: border-box;
}
.container .item__16 img{
    width: 100%;
    height: 20.7vh;
    object-fit: contain;
}

.container .item__17{
    grid-area: gesture;
    box-sizing: border-box;
}
.container .item__17 img{
    width: 100%;
    height: 20.7vh;
    object-fit: contain;
}

.container div img{
    border-radius: 13px;
    object-fit: contain;
}

@media (width < 900px){
    .container{
        width: 100%;
        grid-template-areas: 
        "reloj reloj reloj reloj reloj reloj reloj reloj reloj reloj reloj reloj reloj reloj reloj reloj reloj reloj reloj reloj"
        "gps gps gps gps gps gps gps gps gps gps gps gps gps gps gps gps gps gps gps gps"
        "Depth Depth Depth Depth Depth Depth Depth Depth Depth Depth Depth Depth Depth Depth Depth Depth Depth Depth Depth Depth"
        "Carbon Carbon Carbon Carbon Carbon Carbon Carbon Carbon Carbon Carbon Carbon Carbon Carbon Carbon Carbon Carbon Carbon Carbon Carbon Carbon"
        "relojC relojC relojC relojC relojC relojC relojC relojC relojC relojC relojC relojC relojC relojC relojC relojC relojC relojC relojC relojC"
        "montaña montaña montaña montaña montaña montaña montaña montaña montaña montaña montaña montaña montaña montaña montaña montaña montaña montaña montaña montaña"
        "modular modular modular modular modular modular modular modular modular modular modular modular modular modular modular modular modular modular modular modular"
        "battery battery battery battery battery battery battery battery battery battery battery battery battery battery battery battery battery battery battery battery"
        "dive dive dive dive dive dive dive dive dive dive dive dive dive dive dive dive dive dive dive dive"
        "new new new new new new new new new new new new new new new new new new new new"
        "Customizable Customizable Customizable Customizable Customizable Customizable Customizable Customizable Customizable Customizable Customizable Customizable Customizable Customizable Customizable Customizable Customizable Customizable Customizable Customizable"
        "procesador procesador procesador procesador procesador procesador procesador procesador procesador procesador procesador procesador procesador procesador procesador procesador procesador procesador procesador procesador"
        "Siri Siri Siri Siri Siri Siri Siri Siri Siri Siri Siri Siri Siri Siri Siri Siri Siri Siri Siri Siri"
        "cycling cycling cycling cycling cycling cycling cycling cycling cycling cycling cycling cycling cycling cycling cycling cycling cycling cycling cycling cycling"
        "Precision Precision Precision Precision Precision Precision Precision Precision Precision Precision Precision Precision Precision Precision Precision Precision Precision Precision Precision Precision"
        "flash flash flash flash flash flash flash flash flash flash flash flash flash flash flash flash flash flash flash flash"
        "gesture gesture gesture gesture gesture gesture gesture gesture gesture gesture gesture gesture gesture gesture gesture gesture gesture gesture gesture gesture"
        ;
    }
}